{% extends "forms.html" %}

{% block toolbar %}
<a href="#" onclick="location.href='/code/';" class="toolbar">
    <span class="icon-32-back hasTip" title="Volver::Ignora los cambios y vuelve al listado.">
    </span>
    Volver
</a>
<a href="#" onclick="forms[0].submit();" class="toolbar">
    <span class="icon-32-save hasTip" title="{{ button|capfirst }}::Almacena la información.">
    </span>
    {{ button|capfirst }}
</a>
{% if code.id %}
<a href="#" onclick="location.href='/code/{{ code.id }}/delete/';" class="toolbar">
    <span class="icon-32-cancel hasTip" title="Elimina::Elimina el registro.">
    </span>
    Elimina
</a>
{% endif %}
{% endblock %}

{% block formulario %}
{% if code.id == None %}
<form name="{{ form_name|default:"myform" }}" action="/code/new/" method="post">
{% else %}
<form name="{{ form_name|default:"myform" }}" action="/code/{{ code.id }}/edit/" method="post">
{% endif %}
    {% csrf_token %}
    <div id="config-document">
    <div id="page-code">
        <table class="noshow">
            <tr>
                <td width="100%">
                    <table class="admintable" cellspacing="1">
						{% if code.id != None %}
						<tr>
							<th>Nombre del Módulo:</th>
							<td><input type="text" readonly="true" name="module" value="{{ code.module }}" maxlength="50" /></td>
						</tr>
						<tr>
							<th>Grupo:</th>
							<td><input type="hidden" name="group" value="{{ code.group_id }}" /><input type="text" readonly="true" value="{{ code.group.name }}" maxlength="50" /></td>
						</tr>
						{% endif %}
 						{{ form.as_table }}
                    </table>
				</td>
			</tr>
		</table>
	</div>
	</div>
</form>
{% endblock %}
