<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-es" lang="es-es" dir="ltr">
    <head>
        <title>{{ titulo|default:"Phas" }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <script type="text/javascript" src="/static/js/joomla.javascript.js"></script>
        <script type="text/javascript" src="/static/js/mootools.js"></script>
		{% block switcher %}
        <script type="text/javascript" src="/static/js/switcher.js"></script>
		{% endblock %}
        <script type="text/javascript" src="/static/js/modal.js"></script>
        <script type="text/javascript" src="/static/js/phas.js"></script>
        <script type="text/javascript" src="/static/js/menu.js"></script>
        <script type="text/javascript" src="/static/js/index.js"></script>

        <link rel="stylesheet" href="/static/css/modal.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/system.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/template.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/rounded.css" type="text/css" />

        <!--[if IE 7]>
        <link href="/static/css/ie7.css" rel="stylesheet" type="text/css" />
        <![endif]-->

        <!--[if lte IE 6]>
        <link href="/static/css/ie6.css" rel="stylesheet" type="text/css" />
        <![endif]-->
		{% block mylibs %}
		{% endblock %}
    </head>
    <body>
        <div id="border-top" class="h_teal">
            <div>
                <div>
                    <span class="version">{{ version|default:"1.0" }}</span>
                    <span class="title"><a id="title" href="/">Phas</a></span>
                </div>
            </div>
        </div>
        {% block menu %}
        <div id="header-box">
            <div id="module-menu">
                <ul id="menu">
					<!-- Nodo -->
			        <li class="node"><a>Config</a>
			        	<ul>
			                <li><a{# class="icon-16-config"#} href="{% url phas.views.databases.index %}">Bases de Datos</a></li>
					        <li class="separator"><span></span></li>
			                <li><a{# class="icon-16-config"#} href="{% url phas.views.groups.index %}">Grupos</a></li>
			                <li><a{# class="icon-16-config"#} href="{% url phas.views.codes.index %}">C&oacute;digos</a></li>
	                    </ul>
                    </li>
                </ul>
            </div>
            <div class="clr"></div>
        </div>
		{% endblock %}
        <div id="content-box">
			{% block base %}
            <div class="border">
                <div class="padding">
                    <div id="toolbar-box">
                        <div class="t">
                            <div class="t">
                                <div class="t"></div>
                            </div>
                        </div>
                        <div class="m">
					        <div class="toolbar" id="toolbar">
					            <table class="toolbar"><tr>
					                <td class="button" id="toolbar-box">
			                            {% block toolbar %}
										{% endblock %}
					                </td>
					            </tr></table>
					        </div>
                            <div class="header icon-48-{{ tipo|default:"cdr" }}">
                                {{ titulo }}
                            </div>

                            <div class="clr"></div>
                        </div>
                        <div class="b">
                            <div class="b">
                                <div class="b"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>
					{% block content %}
					{% endblock %}
                    <noscript>
                        Warning! JavaScript must be enabled for proper operation of the Administrator Back-end
                    </noscript>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
            </div>
			{% endblock %}
        </div>
        <div id="border-bottom"><div><div></div></div></div>
		<p align="right">&copy; 2011, <a href="http://bosqueviejo.com"><strong>Bosque</strong>Viejo</a></p>
		&nbsp;
    </body>
</html>
