{% extends "base.html" %}

{% block content %}
					{% if filtro %}
					<div id="submenu-box">
					    <div class="t">
					        <div class="t">
					            <div class="t"></div>
					        </div>
					    </div>
					    <div class="m">
					        <div class="submenu-box">
					            <div class="submenu-pad">
					                <ul id="submenu" class="configuration">
										<li><a class="active">Filtros</a></li>
										{% block filtro %}
										{% endblock %}
					                </ul>
					                <div class="clr"></div>
					            </div>
					        </div>
					        <div class="clr"></div>
					        <div class="clr"></div>
					    </div>
					    <div class="b">
					        <div class="b">
					            <div class="b"></div>
					        </div>
					    </div>
					</div>
					{% endif %}
                    <div id="element-box">
                        <div class="t">
                            <div class="t">
                                <div class="t"></div>
                            </div>
                        </div>
                        <div class="m">
					        <div class="clr"></div>
				            <table class="adminlist">
								{% block tabla %}
								{% endblock %}
				            </table>
                            <div class="clr"></div>
                        </div>
                        <div class="b">
                            <div class="b">
                                <div class="b"></div>
                            </div>
                        </div>
                    </div>
{% endblock %}
