{% extends "base.html" %}

{% block content %}
                    <div id="element-box">
                        <div class="t">
                            <div class="t">
                                <div class="t"></div>
                            </div>
                        </div>
                        <div class="m">
					        <div class="clr"></div>
				            <table class="adminlist">
								{% block tabla %}
								{% endblock %}
				            </table>
                            <div class="clr"></div>
                        </div>
                        <div class="b">
                            <div class="b">
                                <div class="b"></div>
                            </div>
                        </div>
                    </div>
{% endblock %}
