{% extends "table.html" %}

{% block toolbar %}
<a href="#" onclick="location.href='/database/new/';" class="toolbar">
    <span class="icon-32-new hasTip" title="Nueva::Agrega una configuración nueva.">
    </span>
    Nueva
</a>
{% endblock %}

{% block tabla %}
<thead>
    <tr>
		<th nowrap="true">Database (Nombre)</th>
		<th nowrap="true" colspan="2">Opciones</th>
    </tr>
</thead>
<tfoot>
    <tr>
        <th colspan="3">
        	<select name="page" onchange="location.href = '/database/' + this.options[this.selectedIndex].value + '/';">
				{% for page in pages %}
				<option value="{{ page }}"{% if page == page_id %} selected="true"{% endif %}>{{ page }}</option><!-- {{page}} - {{page_id}} -->
				{% endfor %}
			</select>
        </th>
    </tr>
</tfoot>
<tbody>
    {% for database in databases %}
        <tr class="{% cycle 'row0' 'row1' %}">
			<td><span class="editlinktip hasTip" title="Database::{{ database.name }}"><a>{{ database.name }}</a></span></td>
			<td align="center"><a href="/database/{{ database.id }}/edit/"><img src="/static/images/toolbar/icon-32-edit.png" width="16px" height="16px" alt="Editar" /></a>&nbsp;
			<a href="/database/{{ database.id }}/delete/" onclick="return confirm('¿Está seguro de que dese eliminar este registro?');"><img src="/static/images/toolbar/icon-32-cancel.png" width="16px" height="16px" alt="Eliminar" /></a></td>
		</tr>
    {% endfor %}
</tbody>	
{% endblock %}
